.form textarea {
    max-width: 100%;
    max-height: 150px;
}

.form button {
    width: fit-content;
    padding: 5px 8px;
    margin: auto;
}

.form select, input, textarea {
    padding: 5px;
}

.form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 30%;
    background-color: lightsteelblue;
    padding: 20px;
}