.btn {
    background: none;
    border: none;
    border-radius: 50%;
}

.btn:hover {
    background-color: cornflowerblue;
}

.btn:active {
    background-color: blueviolet;
}

.btn > img {
    width: 1.6vw;
    height: auto;
    padding: 8px;
}